
<body>
  <div class="col-13">
    <nb-card size="large">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Add Products">
          <h5>Adding Products</h5>
          <p><strong>Objective:</strong> Input product details into the ERP system.</p>
          <p><strong>Implementation in Heijunka Box:</strong></p>
          <ul>
            <li>Design a UI element within the Heijunka box to add new products.</li>
            <li>Specify fields such as product names, quantities, and deadlines.</li>
            <li>Ensure seamless integration with the ERP database to store product information.</li>
          </ul>
        </nb-tab>



        <nb-tab tabTitle="Leveling Algorithm">
          <h5>Heijunka Leveling Algorithm:</h5>
          <p><strong>Objective:</strong> Implement an algorithm to level production tasks.</p>
          <p><strong>Implementation in Heijunka Box:</strong></p>
          <ul>
            <li>Develop logic to distribute production tasks in small, regular batches within the Heijunka box.</li>
            <li>Consider priorities, deadlines, and other factors to create a balanced production plan.</li>
            <li>Display these leveled batches visually in the Heijunka box, possibly using time slots or compartments.</li>
          </ul>
        </nb-tab>
        <nb-tab tabTitle="Production Planning">
          <h5>Production Planning</h5>
          <p><strong>Objective:</strong> Generate a balanced production schedule based on leveled batches.</p>
          <p><strong>Implementation in Heijunka Box:</strong></p>
          <ul>
            <li>Design features in the Heijunka box to translate the leveled batches into a detailed production schedule.</li>
            <li>Calculate daily production capacity and allocate workload across available resources.</li>
            <li>Ensure the schedule is visually represented and updated dynamically within the Heijunka box.</li>
          </ul>        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</body>
