
body {
  background-image: url('../../assets/heijunka/sakura.png');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
nb-card {
  opacity: 0.9;

}
.title {
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.text2 {
  text-align: center;
}

.fade-in {
  opacity: 1;
}
.scrollable-content {
  max-height: 370px; /* Adjust height as needed */
  overflow-y: auto;
}
nb-accordion, nb-accordion-item, nb-accordion-item-header, nb-accordion-item-body {
  opacity: 0.9; /* Adjust opacity as desired (0.0 to 1.0) */

}
nb-accordion{
  margin-left: 80px;

}

.heijunka-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}


.btn-black {
  color: #f8f9fa; /* Initial black color */
  background-color: #343739; /* Transparent background */
  border-color: #343739; /* Initial black border color */
}

.btn-black:hover {
  color: #8d8d8d; /* White color on hover */
  background-color: transparent; /* Transparent background */
  border-color: #4b4f50; /* Black border color on hover */
}

.edit-button-container {
  text-align: center; /* Center align the button */
}

.edit-button {
  margin-left: 10px; /* Default margin for larger screens */
}

@media screen and (max-width: 768px) {
  .edit-button {
    margin-left: 5px; /* Adjust margin for smaller screens */
  }
}
